@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}


.wrapper{
    width: 100%;
    height: 100%;
    background-color: #191c32;
    color: #fff;
}

.brand{
    margin-top: -10px;
}

.brand span{
    color: aqua;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:  2em;
    background-color: #191c32;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

.menu a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
}

.menu .active{
    color: aqua;
}

.menu a:hover{
    background-color: aqua;
    color: #191c32;
    transition: ease-in .3s;
}

.main{
    margin: 0px auto;
    width: 80vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

h1{
    font-size: 3em;
}

h1 span{
    color: aqua;
}

.main .info-content .icons{
    margin-top: 20px;
    margin-bottom: 10px;
}

.main .info-content .icons .link-icons{
    justify-content: space-between;
}

.main .info-content .link-icons span{
    color: #fff;
    width: 15px;
    height: 15px;
    transform: scale(2);
    margin: 0px 15px 0px 10px;
}

.main .info-content .icons .link-icons span:hover{
    transform: scale(2.1);
    transition: ease-in .2s;
}

.main img{
    width: 350px;
    border-style: groove;
    border-color: aqua;
    height: 520px;
    
}
.main .info-content{
    width: 50%;
}

.titles{
    background-color: #222644;
    margin-bottom: 30px;
}

.titles h1{
    padding: 20px;
    text-align: center;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    background-color: #191c32;
}

.projects .project-item{
    flex-basis: calc(23%); 
    border-radius: 20px;
    margin: 0px 15px 30px 15px;
    background-color: #222644;
    justify-content: space-between;
}

.project-item .project-description{
    text-align: justify;
    margin: 5px 15px 15px 15px;
}

.project-item h3{
    margin-left: 15px;
    margin-top: 5px;
}

.project-item .project-image img{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}

.project-item:hover{
    transform: scale(1.05);
    transition: ease-in .2s;
}